.logo {
  width: 220px;
  height: 220px;
  margin-left: -1rem;
  margin-bottom: 3rem;
}

.active {
  background-color: #97BF0F;
  color: white;
}

a {
  color: black;
}

#nav-side-bar-footer {
  margin-top: 400px;
}

.fa-brands {
  font-size: 24px;
}

.fa-text {
  font-size: 11px;
}





