body {
  overflow-x: hidden;
}

.logo {
  width: 220px;
  height: 220px;
  margin-left: -1rem;
  margin-bottom: 3rem;
}

.active {
  background-color: #97BF0F;
  color: white;
}

a {
  color: black;
}

#nav-side-bar-footer {
  margin-top: 400px;
}

.fa-brands {
  font-size: 24px;
}

.fa-text {
  font-size: 11px;
}

.homepage {
  position: absolute;
  top: 15%;
  left: 20%;
  max-width: 75%;
}

.main-slider {
  max-width: 95%;
  min-height: 20vh;
  margin: auto;
}

.test{
  text-align: center;
  margin-top: 5rem;
}

.home-text {
  text-align: center;
  margin-bottom: 1rem;

}

.select-text {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 18px;
}

.registration {
  position: absolute;
  top: 1%;
  left: 20%;
  max-width: 75%;
}

.log-in {
  position: absolute;
  top: 20%;
  left: 20%;
  max-width: 75%;
}

.reservations {
  position: absolute;
  top: 10%;
  left: 20%;
  max-width: 90%;
}



